#videoContainer {
    width:100%;
    position: relative;
    video {
        width: 100%;
    }
    .videoControls{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.showing {
            opacity: 1;
        }
        align-items: center;
        border-radius: 10px;
        position: absolute;
        bottom: 10px;
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr auto;
        gap:10px;
        justify-content: space-between;
        background-color: #0f1117;
        padding: 10px;
        left: 0;
        box-sizing: border-box;
        .videoControls__play{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .videoControls__playBtn{
                margin: 0px 15px;
                cursor: pointer;
            }
            .videoControls__time {
                font-size: 12px;
            }
        }
        .videoControls__volume{
            display: flex;
            align-items: center;
            cursor: pointer;
            span{
                margin-left: 10px
                i {
                    font-size: 20px
                }
            };
        }

    }
};
.video__data{
    display: flex;
    .edit{
        position: absolute;
        right: 260px;
    }
    .delete{
        position: absolute;
        right: 260px;
        top: 850px;
        }
}
.video__add-comments{
    display: flex;
    margin-top: 10px;
}
#commentForm{
    display: flex;
    width: max-content;
    height: 90px;
    .textarea{
        display: flex;
    }
    .button{
        cursor: pointer;
    }
}
.video__comments{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 60%;
    .plz{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .video__comment{
        display: flex; 
        justify-content:space-between;
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid;
        .far.fa-trash-alt{
            cursor: pointer;
        }
    }
}


